#question-box {
    height: 500px;
    width: 800px;
    text-align: center;
    font-weight: bold;
    display:flex;
    justify-content: center;
    font-family: 'harry_pregular';
    font-size: 30px;
}
.container {
    position: absolute;
    border-style: groove;
    border-width: 5px;
    border-color: #ff00ff;
    background: rgba(77,138,146, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p{
    opacity: 1;
}
body {
    background-image: url('../images/kingscross.jpg');
    background-size: cover;
}
.choices{
    background: none;
    border: none;
    display: block;
    
}
.choices:hover{
    border: solid;
    border-color:blue;
}
#start{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1.0;
    
}