#question-box {
    background-color: #ff11ff;
    height: 500px;
    opacity: 0.5;
    text-align: center;
}
.container {
    position: absolute;
    border-style: groove;
    border-width: 5px;
    border-color: #ff00ff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body {
    background-image: url('../images/kingscross.jpg');
    background-size: cover;
}
button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1.0;
}